.men{

  margin: 10px;
  border-radius: 40px;
  --background: rgb(255, 233, 255);

}

.guia{
  --background: rgb(97, 60, 156);
}

.tab{
  --background: rgb(97, 60, 156);
}

ion-content{
  --background: rgb(168, 148, 199);

}
