<ion-header>
  <ion-toolbar id="barra">
    <ion-title>Resiliência
      <ion-icon name="rose-outline" slot=""></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-content>
    <ion-slides pager="true">
      <ion-slide>
        <img src="../assets/bike.jfif" alt="">
      </ion-slide>
      <ion-slide>
        <img src="../assets/uiui.jpg" alt="">
      </ion-slide>
    </ion-slides>
  </ion-content>

</ion-content>

<ion-content>
  <h1 class="fonte">
   Resiliência:
  </h1>
  <p class="fontezinha">
    Resiliência é a capacidade de se adaptar a situações críticas, onde há muita pressão, mudança e desafios.

    <br>
    Pessoas resilientes conseguem encarar esses momentos de uma maneira mais tranquila e propor soluções com agilidade, gerenciando bem as oportunidades e demandas.

    <br>
    Pensando neste contexto de pandemia e profunda transformação do mercado de trabalho e da nossa sociedade, dá para imaginar como é importante ter resiliência no trabalho para lidar com tantas mudanças, não é?

    <br>
    Mas não é apenas nesses momentos mais conturbados que a resiliência é positiva.

    <br>
    No dia a dia, principalmente no âmbito profissional, enfrentamos muito desafios, mudanças geradas pelas inovações e pressão por produtividade, entrega e eficiência.

    <br>
    Sem resiliência, é mais difícil acompanhar essas transições e cobranças sem prejudicar não apenas os resultados da empresa, mas também a própria saúde mental e desempenho profissional.
  </p>
  <br><br>

  <h2 class="fonte">
    Como desenvolver a resiliência?
  </h2>
  <p class="fontezinha">
    Resiliência é a capacidade de se adaptar a situações críticas, onde há muita pressão, mudança e desafios.

    <br>
    Pessoas resilientes conseguem encarar esses momentos de uma maneira mais tranquila e propor soluções com agilidade, gerenciando bem as oportunidades e demandas.

    <br>
    Pensando neste contexto de pandemia e profunda transformação do mercado de trabalho e da nossa sociedade, dá para imaginar como é importante ter resiliência no trabalho para lidar com tantas mudanças, não é?

    <br>
    Mas não é apenas nesses momentos mais conturbados que a resiliência é positiva.

    <br>

    No dia a dia, principalmente no âmbito profissional, enfrentamos muito desafios, mudanças geradas pelas inovações e pressão por produtividade, entrega e eficiência.

    <br>
    Sem resiliência, é mais difícil acompanhar essas transições e cobranças sem prejudicar não apenas os resultados da empresa, mas também a própria saúde mental e desempenho profissional.
  </p>

</ion-content>
