.fonte{
  font-style: bold;
  font-size: 50px;
  font-family: 'Zen Loop', cursive;
  margin-left: 20px


}

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;400&family=Open+Sans:wght@300&family=Zen+Loop&display=swap');



.fontezinha{

  font-size: 20px;
  margin-left: 20px


}

ion-content{
  --background: #f7f4eb;
}

#barra{
  --background: #eee1b9;
}

#butao{
  margin-left: 110px;
  margin-bottom: 20px;
  --background: #cea56f;
}
