<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-icon name="git-compare-outline" slot="end" [routerLink]="['../home']" routerLinkActive="router-link-active"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="ion-text-wrap">
    <ion-card-header>
      <img src="../assets/colaboracao.png" alt="Imagem Filme" class="foto">
    </ion-card-header>

    <ion-card-content>


      <h1 class="hey">Colaboração</h1>




      <h3 class="data">Saber trabalhar em grupo é uma característica muito importante para quem quer se destacar na carreira, principalmente se um dos objetivos for crescer profissionalmente e ocupar cargos de liderança.</h3>

      <br>

      <h3 class="data">Gerenciar pessoas é um dos maiores desafios no mercado de trabalho, e as empresas têm buscado profissionais capazes de fazer isso com empatia e assertividade.</h3>

      <br>

      <h3 class="data">Para isso, é necessário ter a habilidade de colaboração muito bem desenvolvida, pois só assim conseguimos enxergar o potencial de todas as pessoas envolvidas, dar espaço para novas ideias e perseguir um objetivo em comum.</h3>

      <br>

      <h3 class="data">Mas essa soft skill não serve apenas para quem sonha em liderar equipes. Saber colaborar com a equipe é essencial em qualquer função, afinal, até mesmo profissionais autônomos precisam trabalhar com outras pessoas, lidar com clientes, fornecedores e parceiros.</h3>

      <br>

      <h2 class="hey">Como desenvolver?</h2>

      <br>

      <h3 class="data">Sempre busque novas experiências, pratique a escuta, participe de ações de integração e esteja disponível para ajudar</h3>
      <h3></h3>

    </ion-card-content>

  </ion-card>
