@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;400&family=Open+Sans:wght@300&display=swap');


#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content{
  --background: linear-gradient(#e9b1be, #f1f3be, #b6fdff, #dcc1fa);
}

.coracao{
  --background: linear-gradient();
}

.cardzin{
  --background: #efe8f7;
}

.cabeca{
  --background: #dec9f5;
}

.fontezinha{

  font-family: 'Mukta', sans-serif;
  font-size: 20px;

}
