<ion-header>
  <ion-toolbar class="cabeca">

    <ion-title>

      Soft Skills
    </ion-title>
  </ion-toolbar>
</ion-header>

<br><br>



<ion-content [fullscreen]="true">
  <ion-item class="coracao">
    <ion-thumbnail slot="start">
      <img src="../assets/coracao_logo.png">
    </ion-thumbnail>
    <ion-label id="frase1">
      <h2 class="fontezinha">
        Você já ouviu falar sobre as
        <br>
        Soft Skills?
        <br> <br>
        Esse artigo pode ajudar
        <br>
        a esclarecer mais sobre
        <br>
        o assunto
      </h2>
    </ion-label>

  </ion-item>

  <br>

  <ion-card class="cardzin, cor">
    <ion-card-header>
      <ion-card-title>O que são as Soft Skills?</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p class="fontezinha">
        Bom, para começarmos a falar sobre as Soft Skills, é necessário primeiro falar sobre as Hards Skills (que andam lado a lado). Inialmente, é necessário
        saber que ambos são utilizados por
        profissionais de Recursos Humanos para identificar características específicas de um profissional.
        <br>
        <br>
        As hard skills são habilidades técnicas e, de modo geral, são facilmente mensuráveis e possíveis de desenvolver por meio de treinamentos e cursos,
        por exemplo. Durante muito tempo, essa competência foi a principal e mais relevante profissionalmente, mas esse cenário tem se transformado e
        atualmente as soft skills aparecem com muito mais relevância e destaque.
        <br>
        <br>
        á as soft skills se referem a habilidades comportamentais relacionadas a maneira como uma pessoa lida com o outro, ou seja, como funciona a interação
        dela em grupos e, ao mesmo tempo, como ela lida com suas próprias emoções. Quanto mais positivamente o profissional consegue lidar com essas situações
        ambientais e psicológicas, maiores são suas soft skills.
        <br>
        <br>
        Contudo, apesar da importância das soft skills, elas são difíceis de serem mensuradas e desenvolvidas, pois são competências subjetivas, portanto, estão
        intimamente relacionadas à personalidade e outros fatores emocionais construídos ao longo da vida do indivíduo. Tendo isso em vista, é possível entender
        o motivo pelo qual as soft skills são tão valorizadas na atualidade.
      </p>

    </ion-card-content>
  </ion-card>

  <br>
  <br>

  <ion-card class="cardzin, cor">
    <ion-item class="cardzin, cor">
      <ion-icon name="flower-outline" slot="start"></ion-icon>
      <ion-label></ion-label>
      <ion-button fill="outline" slot="end" [routerLink]="['../softskill1']" routerLinkActive="router-link-active" class="bosta" fill="solid">Ir por aqui</ion-button>
    </ion-item>

    <ion-card-content>
      <p class="fontezinha">
        Agora que você conhece mais sobre as Soft Skills, que tal dar uma olhada
        em alguns exemplos e quem sabe escolher uma ou mais dessas habilidades
        para desenvolver?
      </p>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item class="cor">
      <ion-icon name="rose-outline" slot="start"></ion-icon>
      <ion-label>Resiliência</ion-label>
    </ion-item>
    <ion-item class="cor">
      <ion-icon name="logo-instagram" slot="start"></ion-icon>
      <ion-label>Criatividade</ion-label>
    </ion-item>
    <ion-item class="cor">
      <ion-icon name="chatbubbles-outline" slot="start"></ion-icon>
      <ion-label>Comunicação</ion-label>
    </ion-item>
    <ion-item class="cor">
      <ion-icon name="sparkles-outline" slot="start"></ion-icon>
      <ion-label>Flexibilidade</ion-label>
    </ion-item>
    <ion-item class="cor">
      <ion-icon name="people-outline" slot="start"></ion-icon>
      <ion-label>Colaboração</ion-label>
    </ion-item>

  </ion-list>

</ion-content>



