#nome{
  text-align: center;

}
.opa{
  margin-right: 10px;
}
ion-content{
  --background: linear-gradient(#c0c0af, #424240);

}
.dahora{
  --background: linear-gradient(#c0afb300, #42424000);
}
.pica{
  --background: #c0c0af;
}
#trigger-button{
  margin-left: 70px;
  --background: #c0c0af;
}
